
.logo{
  width: 400px;
  text-align: left;
  margin-right: 15px;
  }

    a{
      text-decoration: none;
    }

    .productunit:hover{
      background-color: #ffe77b;
      cursor: pointer;
      font-weight: bolder;
    }

    .margin{
      margin-bottom: 25px;
    }
    
    h1nohighlight{
      font-family: sans-serif;
      color: black;
      font-size: 20px;
      font-weight: lighter;
    }

    h1highlight{
      font-family: sans-serif;
      color: black;
      font-size: 20px;
      font-weight: bolder;
      background-color: #ffe77b;
    }

    .oval{
      background: red;
      border-radius:50%;
      color: white;
      text-align: center;
      display:inline;
      padding-bottom: 2px;
    }

    .cartnumber{
      color: white;
      font-family: sans-serif;
      font-size:16px;
      text-align: center;
      padding: 4px;
      display:inline;
    }

    p{
      text-decoration: none;
      width: 100%;
      font-family: sans-serif;
      color: black;
      font-size: 20px;
      font-weight: lighter;  
    }

    .p1{
      font-family: sans-serif;
      color: black;
      font-size: 20px;
      font-weight: lighter;
      flex-wrap: wrap;
      text-wrap: wrap;
    }

    h2{
      font-family: sans-serif;
      color: black;
      font-size: 22px;
      font-weight: lighter;

    }
  
    body{
      font-family: sans-serif;
      background-color: white;

    }

    .remove{
      font-family: sans-serif;
      color: black;
      font-size: 20px;
      font-weight: bold;
      text-decoration: underline;
      margin-left: 65px;
      display: flex;
      width: 500px;
    }
  
    .rollname{
      font-family: sans-serif;
      color: black;
      font-size: 20px;
      text-decoration: underline;
      text-align: left;

    }
  
    .price{
      font-family: sans-serif;
      color: black;
      font-size: 20px;
      text-align: left;
      text-decoration: none;
      padding-bottom: 15px;
    }
    
    .notecard{
      margin-left:auto;
      margin-right:auto;
      margin-top: 20px;
      text-align: center;
    }
  
    .createspace{
      width: 450px;
      margin-left:auto;
      margin-right:auto;
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: center;
    }

    .createsmallspace{
      width: 450px;
      margin-left:auto;
      margin-right:auto;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: right;
    }

    .createbigspace{
      width: 450px;
      margin-left:auto;
      margin-right:auto;
      margin-top: 80px;
      margin-bottom: 80px;
      text-align: center;
    }

    .smallspace{
      width: 450px;
      margin-left:auto;
      margin-right:auto;
      margin-top: 25px;
      margin-bottom: 50px;
      text-align: center;
    }

    .thumbnail{
      width: 400px;
      height: 400px;
      border: 2px solid black;
      text-decoration: none;
    }

    .cartimg{
      display: flex;
      width: 200px;
      height: 200px;
      border: 2px solid black;
      margin-right: 40px;
    }


    .cartdetails{
      font-family: sans-serif;
      color: black;
      font-size: 20px;
      font-weight: lighter;
    }

    .cartprice{
      font-family: sans-serif;
      color: black;
      font-size: 20px;
      font-weight: lighter;
      display: flex;
      justify-content: flex-end;
      align-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: auto;


    }
  
  
    #dropdown1{
      width: 100%;
      color: black;
      font-size: 20px;
      font-weight: lighter;  
    }

    .dropdowns{
      width: 100%;
      font-family: sans-serif;
      color: black;
      font-size: 20px;
      font-weight: lighter;  
    }

    #dropdown2{
      width: 100%;
      color: black;
      font-size: 20px;
      font-weight: lighter;  
    }
  
    .addbtn{
      font-family: sans-serif;
      font-weight: bold;
      font-size: 20px;
      background-color: #ffe77b;
      border: 1px solid black;
      padding-top: 5px;
      padding-bottom: 5px;
      color: black;
      margin-left: 12px;
      cursor: pointer;
      padding-left: 25px;
      padding-right: 25px;
    }

    .detailprice{
      font-family: sans-serif;
      font-weight: bold;
      font-size: 20px;
    }

    .total{
      font-family: sans-serif;
      color: black;
      text-align: right;
      display: flex;
    }

    .carttotals{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-left: auto;
    }

    .totalsum{
      display: flex;
      justify-content: space-between;
      font-family: sans-serif;
      color: black;
      font-size: 20px;
      font-weight: lighter;
      margin-left: 360px;
    }

    .checkoutbtn{
      font-family: sans-serif;
      color: black;
      font-size: 20px;
      font-weight: bold;
      background-color: #ffe77b;
      border: 1px solid black;
      padding: 20px;
      cursor: pointer;
      float: right;
      margin-right: 80px;
    }

    .bigcontainer {
      display: flex;
      justify-content: space-between; /* this will add equal space between each image */
      flex-wrap: wrap;
      padding: 70px;
    }

    .biggercontainer {
      display: flex;
      /* justify-content: space-between; this will add equal space between each image */
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 30px;

    }

    .cartmaincontainer{
      display: flex;
      /* justify-content: space-between; this will add equal space between each image */
      flex-wrap: wrap;
      margin-top: 30px;
      padding-right: 80px;
      padding-left: 400px;

    }

    .detailcontainer {
      display: flex;
      justify-content: space-between; /* this will add equal space between each image */
      flex-wrap: wrap;
      border: 2px solid black;
    }

    .cartoriginalimg{
      display: flex;
      justify-content: space-between; /* this will add equal space between each image */
      width: 200px;
      height: 200px;
      margin-right: 20px;
    }

    .detailbuttons {
      display: flex;
      text-align: right;
      justify-content: center;
    }

    .detailtextcontainer {
      display: flex;
      text-align: left;
      flex-direction: column;
      /* flex-wrap: wrap; */
      /* justify-content: space-around; */
      /* text-wrap: wrap; */
      width: 250px;
      margin-left: 30px;
      justify-content: space-between;

    }

    /* img.thumbnail-detailpage {
      width: 600px;
      height: 600px;
      border: 2px solid black;
    } */

    .detailcontainer img{
      width: 600px;
      height: 600px;
    }

    .thumbnail-row {
      width: 285px;
      height: 285px;
      border: 2px solid black;
      margin: 5px; 
    }

    #header {
      display: flex;
      /* color: white; */
      font-size: 20px;
      justify-content: space-between;
      /* float: right; */
    }

    #header-things {
      /* color: white; */
      display: flex;
      flex-direction: column;
      font-size: 20px;
      width: 100%;
      justify-content: center;
      /* margin-right: unset; */
      /* text-align: right; */
    }

    .icon{
      display: flex;
      width: 400px;
      text-align: left;
    }

    #links{
      display: flex;
      /* border-bottom: 10px solid black; */
      /* width:"100%"; */
      flex-direction: row;
      justify-content: flex-end;

    }

    hr{
      height: 4px;
      background: black;
      width: 100%;
      margin-bottom: 20px;

    }

    .secondcartline{
      height: 4px;
      background: black;
      width: 100%;
    }

    /* #line{
      display: flex;
      width:"100%";

    } */

    ul{
      list-style-type: none;
    }

    li{
      display:inline;
      margin-right: 50px;
    }

